service cloud.firestore {
  match /databases/{database}/documents {
    match /food/{foodId} {
      allow read: if true;
      allow write: if request.auth.token.role in ['vendor', 'admin'];
    }
    match /food-internal/{foodId} {
      allow read: if request.auth.token.role in ['admin'];
      allow write: if request.auth.token.role in ['admin'];
    }
    match /shop/{shopId} {
      allow read: if true;
      allow write: if request.auth.token.role in ['admin'];
    }
    match /orders/{orderId} {
      allow read: if request.auth != null;
      allow write: if request.auth.token.role in ['vendor', 'admin'];
    }
    match /internal-orders/{orderId} {
      allow read: if request.auth.token.role in ['admin'];
      allow write: if request.auth.token.role in ['admin'];
    }
    match /stories/{storyId} {
      allow read: if true;
      allow write: if request.auth.token.role in ['vendor', 'admin'];
    }
    match /category/{categoryId} {
      allow read: if true;
      allow write: if request.auth.token.role in ['vendor', 'admin'];
    }
    match /fcmTokens/token {
      allow read: if false;
      allow write: if true;
    }
    match /users/{userId} {
      allow read: if request.auth.uid == userId;
      allow write: if false;
    }
    match /appConfig/public {
      allow read: if true;
      allow write: if false;
    }
    match /analytics/{userId} {
      allow read: if false;
      allow write: if false;
    }
    match /nps/{userId} {
      allow read: if request.auth.uid == userId;
      allow write: if request.auth.uid == userId;
    }
  }
}